@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    vertical-align: top;
}
.inner {
    text-align: center;
    width: 1120px;
    margin: 0 auto;
}